<div style="text-align: right;" >
    <button class="btn btn-primary" (click)="logout()"> LOGOUT </button>
  </div>
  <br>
  <hr>

<h1 style="text-align: center;"> USERS</h1>>

<hr>
<br>


<div style="text-align: center;">
    <h1>
        THIS WAS DEVELOP BY
    </h1>
    <button class="btn btn-warning" (click)="post()"> PUSH ME</button>

</div>
<br><br>
<br>
<div style="text-align: center;">
    <h1>
        THIS IS THE API RUNNING
    </h1>
    <button class="btn btn-warning" (click)="get()"> PUSH ME</button>
</div>