
<body>
  <br><br>
  <br>
<div>
    <h1 style="text-align: center;"><i> LOGIN </i></h1>
</div>

<div id="logo" > 
    
  </div> 
  <section class="stark-login">
       <br><br><br><br>
       <br><br><br>
       <div class="card" style="text-align: center; margin:10px">
         <h5>try with user and pass for validation</h5>

       </div>
       <br><br><br>

       
      <div>	
      <div style="align-items: center; text-align: center;" >
        <input type="text" [(ngModel)]="user"  placeholder="Username" required>
          <input type="password" [(ngModel)]="pass" placeholder="Password" required>
            
            <button class="btn btn-primary" (click)="onClick(user, pass)" >Log In</button> 
            
          </div>
        </div>


              </section> 
              <br>
              <br>
              <br>
              
              <div id="circle1">
                <div id="inner-cirlce1">
                  <h2> </h2>
                </div>
              </div>
              
              
            </body>    
              
              
              